@import "variables";

:host {
  .total-stats {
    margin-top: 60px;

    hr {
      margin-bottom: 15px;
    }

    /deep/ app-collapsible {
      margin-bottom: 15px;
      display: block;

      .stats {
        display: flex;
        color: white;

        > div {
          margin-right: 10px;
        }
      }
    }

    /deep/ app-collapsible.incoming,
    /deep/ app-collapsible.outgoing{
      .collapsible-head .title:before{
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    /deep/ app-collapsible.incoming{
      .collapsible-head .title:before{
        background: $brand-success-light;
      }
    }

    /deep/ app-collapsible.outgoing{
      .collapsible-head .title:before{
        background: $brand-danger-light;
      }
    }
  }
}
