html, body {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

button,
fieldset {
  transition: opacity 0.5s ease;

  &[disabled] {
    opacity: 0.3;
  }
}

.left {
  width: 50%;
}
