<div class="message-log">
  <ul>
    <li *ngFor="let message of getMessageLog()">
      <div class="left">
        <app-button type="icon"
                    text="fa fa-trash"
                    [disabled]="connection.getAddress().getProtocol()==='via'"
                    (click)="connection.close()">
        </app-button>
        {{connection.getAddress().getProtocol()}}
        <span *ngIf="connection.getAddress().getProtocol()==='via'">
            {{connection.getAddress().getLocation()}}
          </span>
      </div>
      <div class="right">
        {{connection.getState()}},
        TQ {{connection.getQuality()}}
      </div>
    </li>
  </ul>
</div>
