@import 'variables';

.d3-line-chart{
  .line {
    fill: none;
    stroke-width: 3;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: $brand-warning;
    stroke: white;
  }

  .focus ellipse {
    fill: none;
    stroke: $brand-primary-light;
  }
}

:host{
  width: 100%;
  height: 100%;
}
