@import "variables";

:host {
  .messenger {
    display: flex;

    .message-ui {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      app-stream-player {
        width: 100%;
      }
    }

    .sidebar {
      width: 25vw;
      background: red;
      height: 100vh;
      background: $brand-primary;
      color: white;
      min-width: 400px;
    }

    .clock {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  @media (max-width: $screen-sm-max) {
    .messenger {
      position: relative;
      width: 100vw;
      overflow: hidden;

      .sidebar {
        width: 100vw;
        min-width: inherit;
        position: absolute;
        transform: translateX(100vw);
        transition: transform 1s ease;
      }

      .message-ui {
        width: 100vw;
        height: 100vh;
      }

      .show-peers {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 9;
      }

      app-controls {
        position: absolute;
        bottom: 28px;
        z-index: 99999;
        left: calc(50% - 28px);
      }

      &.peers-visible {
        .sidebar {
          transform: translateX(0);
        }
      }
    }
  }
}
