@import "variables";

:host {
  .messenger {
    display: flex;

    .message-ui {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      app-stream-player {
        width: 100%;
      }
    }

    .sidebar {
      width: 25vw;
      background: red;
      height: 100vh;
      background: $brand-primary;
      color: white;
      min-width: 400px;
    }

    .clock {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
