<div class="messenger"
     [class.info-visible]="infoVisible"
     [class.inactive]="isInactive">
  <div class="show-peers">
    <button class="btn btn-default light"
            (click)="toggleInfo()">
    <span *ngIf="infoVisible"
          class="fa fa-times"></span>
      <span *ngIf="!infoVisible"
            class="fa fa-info"></span>
    </button>
    <button *ngIf="showFullScreenButton()"
            class="btn btn-default light"
            (click)="toggleFullscreen()">
      <span *ngIf="isInFullScreen()"
            class="fa fa-compress"></span>
      <span *ngIf="!isInFullScreen()"
            class="fa fa-arrows-alt"></span>
    </button>
  </div>
  <div class="message-ui">
    <app-stream-player [mitosis]="mitosis"></app-stream-player>
    <app-record-stream-button [mitosis]="mitosis">
    </app-record-stream-button>
  </div>
  <div class="sidebar scrollable"
       appFillHeight
       [minHeight]="false">
    <app-sidebar #sidebar
                 [mitosis]="mitosis">
    </app-sidebar>
  </div>
</div>
