<section class="settings">
  <header *ngIf="selectedNode">{{selectedNode.getId()}}</header>
  <header *ngIf="!selectedNode">Node node selected</header>
  <div *ngIf="selectedNode" class="roles">
    Roles:
    <span *ngFor="let role of getRoles()"
          [title]="role"
          [class]="getRoleIcon(role)">
    </span>
  </div>
  <app-button text="Delete Peer" (click)="deletePeer()"></app-button>
  <app-button [text]="hasNetwork() ? 'Freeze Peer' : 'Unfreeze Peer'" (click)="toggleNetwork()"></app-button>

  <hr>

  <div class="form-field">
    <label>Connection Latency</label>
    <app-slider [min]="0"
                [max]="1"
                [step]="0.01"
                [(ngModel)]="latency"
                [showSliderValue]="true"
                [transformDisplayValue]="sliderTransformer">
    </app-slider>
  </div>

  <div class="form-field">
    <label>Connection Stability</label>
    <app-slider
      [min]="0"
      [max]="1"
      [step]="0.01"
      [(ngModel)]="stability"
      [showSliderValue]="true"
      [transformDisplayValue]="sliderTransformer">
    </app-slider>
  </div>
</section>
