@import "variables";

:host {
  .form-field{
    margin: 30px 0;
    label{
      display: block;
      margin-bottom: 15px;
    }
  }

  .roles{
    span{
      font-size: 20px;
      padding: 0 5px;
    }
  }
}
