@import "variables";

:host {
  .form-field{
    margin: 30px 0;
    label{
      display: block;
      margin-bottom: 15px;
    }
  }

  .roles{
    span{
      font-size: 20px;
      padding: 0 5px;
    }
  }

  .form-field{
    display: flex;
    align-items: center;

    label{
      width: 150px;
      text-align: end;
    }

    app-slider{
      margin-top: -10px;
      flex-grow: 1;
    }
  }
}
