@import "variables";

:host {
  .form-field{
    margin: 30px 0;
    label{
      display: block;
      margin-bottom: 15px;
    }
  }

  .roles{
    span{
      font-size: 20px;
      padding: 0 5px;
    }
  }

  .form-field{
    app-slider{
      margin-top: -10px;
    }
  }

  /deep/ .chat{
    display: flex;
    flex-direction: column;
    app-input{
      flex-grow: 1;
    }

    app-button{
      float: right;
    }
  }
}
