<section class="settings">
  <header *ngIf="selectedNode">{{selectedNode.getId()}}</header>
  <header *ngIf="!selectedNode">Node node selected</header>
  <div *ngIf="selectedNode" class="roles">
    Roles:
    <span *ngFor="let role of getRoles()"
          [title]="role"
          [class]="getRoleIcon(role)">
    </span>
  </div>
  <app-button text="Delete Peer" (click)="deletePeer()"></app-button>

  <hr>

  <app-collapsible title="Send Message"
                   icon="fa fa-comment-o"
                   [isCollapsed]="true"
                   class="chat">
    <app-search-input
      placeholder="Receiver"
      [options]="availableNodeIds"
      (valueChange)="message.receiver = $event">
    </app-search-input>
    <app-input placeholder="Message" [(ngModel)]="message.body"></app-input>
    <app-button text="Send" (click)="sendMessage()"></app-button>
  </app-collapsible>

  <hr>

  <app-collapsible title="Connection Settings"
                   icon="fa fa-wifi"
                   [isCollapsed]="true">
    <div class="form-field">
      <label>Latency</label>
      <app-slider [min]="1"
                  [max]="maxNetworkLatency()"
                  [step]="1"
                  [(ngModel)]="latency"
                  [showSliderValue]="true"
                  (valueChanged)="updateNetwork()">
      </app-slider>
      {{latency}}
    </div>

    <div class="form-field">
      <label>Stability</label>
      <app-slider
        [min]="0"
        [max]="1"
        [step]="0.01"
        [(ngModel)]="stability"
        [showSliderValue]="true"
        [transformDisplayValue]="sliderTransformer"
        (valueChanged)="updateNetwork()">
      </app-slider>
    </div>
  </app-collapsible>
</section>
