<section class="messages">
  <header>
    Inbox
    <app-button type="icon" text="fa fa-trash" (click)="purgeMessages()"></app-button>
  </header>

  <app-collapsible *ngFor="let logEvent of getMessageLog()"
                   [isCollapsed]="true"
                   [text]="logEvent.getEvent().getReceiver().getId() !== selectedNode.getId() ? '->'+logEvent.getEvent().getReceiver().getId() : null"
                   title="{{logEvent.getTick()}} {{logEvent.getEvent().getSubject()}} from {{logEvent.getEvent().getSender().getId()}} via {{logEvent.getEvent().getSender().getProtocol()}}">
    <pre>{{logEvent.getEvent()}}</pre>
  </app-collapsible>
</section>
