<div class="sidebar">
  <section>
    <header>{{mitosis.getMyAddress().getId()}} [{{mitosis.getRoleManager().getRoles().join(',')}}]</header>
    <!--<app-search-input-->
      <!--#searchInput-->
      <!--id="sidebar-node-filter"-->
      <!--placeholder="Search for a Remote-Peer"-->
      <!--[options]="availableNodeIds"-->
      <!--(valueChange)="search($event)">-->
    <!--</app-search-input>-->
    <app-button *ngIf="!mitosis.getStream()"
                type="icon"
                text="fa fa-video-camera"
                (click)="startStream()">
      Start Stream
    </app-button>

    <app-button *ngIf="mitosis.getStream()"
                type="icon"
                text="fa fa-video-camera"
                (click)="stopStream()">
      Stop Stream
    </app-button>
    <app-peer-table [mitosis]="mitosis"></app-peer-table>
  </section>
</div>
