<div class="routing-table">
  <!--<div class="form-field">-->
    <!--<label>WSS Deliver Timeout</label>-->
    <!--<app-slider [(ngModel)]="wssDelay"-->
                <!--[min]="0"-->
                <!--[max]="10"-->
                <!--[showSliderValue]="true"-->
                <!--(valueChanged)="updateWssDelay($event)"></app-slider>-->
  <!--</div>-->

  <!--<div class="form-field">-->
    <!--<label>WebRTC Deliver Timeout</label>-->
    <!--<app-slider [(ngModel)]="webRTCDelay"-->
                <!--[min]="0" [max]="10"-->
                <!--[showSliderValue]="true"-->
                <!--(valueChanged)="updateWebRtcDelay($event)">-->
    <!--</app-slider>-->
  <!--</div>-->
</div>
