@import "variables";

:host {
  li {
    margin: 10px;
    .log {
      color: gainsboro;
    }
    .debug {
      color: lightcyan;
    }
    .info {
      color: lightyellow;
    }
    .warn {
      color: darkorange;
    }
    .error {
      color: tomato;
    }
  }
}
