@import "variables";

:host {
  li {
    margin: 10px;
    .level-0 {
      color: gainsboro;
    }
    .level-10 {
      color: lightcyan;
    }
    .level-20 {
      color: lightyellow;
    }
    .level-30 {
      color: darkorange;
    }
    .level-40 {
      color: tomato;
    }
  }
}
