<div class="peer-table">
  <app-collapsible *ngFor="let remotePeer of mitosis.getPeerTable().sortById()"
                   [isCollapsed]="true"
                   [title]="remotePeer.getId()"
                   [text]="getPeerAnnotation(remotePeer)"
                   [class.expired]="remotePeer.getMeter().lastSeenIsExpired()">
    <ul class="connections">
      <div class="meter">
        <pre>
          {{getPeerStatsAnnotation(remotePeer)}}
        </pre>
      </div>
      <li *ngFor="let connection of remotePeer.getConnectionTable()">
        <div class="left">
          {{getConnectionDirection(connection)}}
          {{connection.getAddress().getProtocol()}}
          {{connection.getAddress().getLocation()}}
        </div>
        <div class="right">
          {{getConnectionAnnotation(connection)}}
        </div>
      </li>
    </ul>
  </app-collapsible>
</div>
<hr>
<div class="channel-table">
  <app-collapsible *ngFor="let channel of mitosis.getStreamManager().getChannelTable(); index as i"
                   [isCollapsed]="false"
                   title="channel {{channel.getId().slice(0, 5)}}">
    <ul class="connections">
      <li *ngFor="let provider of channel.getProviderTable()">
        <div (click)="updateChannel(channel, provider)" class="left">
          {{provider.getPeerId()}}
          <span *ngIf="provider.isActive()" class="fa fa-video-camera" title="active"></span>
          <span *ngIf="provider.isLive()" class="fa fa-rss" title="live"></span>
          <span *ngIf="provider.isLocal()" class="fa fa-user" title="local"></span>
          <span *ngIf="provider.isSource()" class="fa fa-arrow-up" title="source"></span>
          <span *ngIf="provider.isSink()" class="fa fa-arrow-down" title="sink"></span>
        </div>
        <div class="right">
          <span class="fa fa-link" title="capacity"></span> {{provider.getCapacity()}}
        </div>
      </li>
    </ul>
  </app-collapsible>
</div>
