<div class="peer-table">
  <app-collapsible *ngFor="let remotePeer of mitosis.getPeerTable().sortById()"
                   [isCollapsed]="true"
                   [title]="remotePeer.getId()"
                   [text]="getPeerAnnotation(remotePeer)"
                   [class.expired]="remotePeer.getMeter().lastSeenIsExpired()">
    <ul class="connections">
      <div class="meter">
        <pre>
          ⌀TQ: {{remotePeer.getMeter().getAverageConnectionQuality().toFixed(2)}},
          ⌀PunQ: {{remotePeer.getMeter().getAverageConnectionPunishment().toFixed(2)}},
          ProQ: {{remotePeer.getMeter().getConnectionProtection()}}
          LastSeen: {{remotePeer.getMeter().getLastSeen()}}
          isExpired: {{remotePeer.getMeter().lastSeenIsExpired() | json}}
        </pre>
      </div>
      <li *ngFor="let connection of remotePeer.getConnectionTable()">
        <div class="left">
          <app-button type="icon"
                      text="fa fa-trash"
                      [disabled]="isDisabled(connection)"
                      (click)="connection.close()">
          </app-button>
          <span>{{getConnectionDirection(connection)}}</span>
          {{connection.getAddress().getProtocol()}}
          {{connection.getAddress().getLocation()}}
        </div>
        <div class="right">
          {{connection.getState()}}
        </div>
      </li>
    </ul>
  </app-collapsible>
</div>
<hr>
<div class="channel-table">
  <app-collapsible *ngFor="let channel of mitosis.getStreamManager().getChannelTable(); index as i"
                   [isCollapsed]="false"
                   title="channel {{channel.getId().slice(0, 5)}}">
    <ul class="connections">
      <li *ngFor="let provider of channel.getProviderTable()">
        <div class="left">
          <span *ngIf="provider.isActive()" class="fa fa-video-camera"></span>
          {{provider.getPeerId()}}
        </div>
        <div class="right">
          <span class="fa fa-link"></span> {{provider.getCapacity()}}
        </div>
      </li>
    </ul>
  </app-collapsible>
</div>
