<div class="simulation">
  <div *ngIf="getClock()"
       class="clock">
    {{getClockEmoji()}}
    {{getClock().getTick()}}
  </div>
  <div class="graph">
    <app-d3-directed-graph #graph
                           [model]="model"
                           (selectedNodeChange)="selectNode($event)">
    </app-d3-directed-graph>
  </div>
  <div class="sidebar scrollable"
       appFillHeight
       [minHeight]="false">
    <app-sidebar #sidebar
                 [selectedNode]="selectedNode"
                 [graph]="graph"
                 (scenarioChange)="updateScenario($event)">
    </app-sidebar>
  </div>
</div>
