<section class="peer-table">
  <header>Remote Peers
    <div class="total-counter">{{getAllConnectionsAnnotation()}}</div>
  </header>
  <app-collapsible *ngFor="let remotePeer of selectedNode.getMitosis().getPeerTable().sortById()"
                   id="rtbl-{{selectedNode.getId()+'-'+remotePeer.getId()}}"
                   [isCollapsed]="true"
                   [title]="remotePeer.getId()"
                   [text]="getPeerAnnotation(remotePeer)"
                   [class.expired]="remotePeer.getMeter().lastSeenIsExpired()">
    <ul class="connections">
      <div class="meter">
        <pre>
          ⌀TQ: {{remotePeer.getMeter().getAverageConnectionQuality().toFixed(2)}},
          ⌀PunQ: {{remotePeer.getMeter().getAverageConnectionPunishment().toFixed(2)}},
          ProQ: {{remotePeer.getMeter().getConnectionProtection()}}
          ls: {{remotePeer.getMeter().getLastSeen()}}
          exp: {{remotePeer.getMeter().lastSeenIsExpired() | json}}
          rtrRnk: {{remotePeer.getMeter().getRouterAliveHighScore().getAverageRanking()}}
        </pre>
      </div>
      <li *ngFor="let connection of remotePeer.getConnectionTable()">
        <div class="left">
          <app-button type="icon"
                      text="fa fa-trash"
                      [disabled]="isDisabled(connection)"
                      (click)="connection.close()">
          </app-button>
          {{getConnectionDirection(connection)}}
          {{connection.getAddress().getProtocol()}}
          {{connection.getAddress().getLocation()}}
        </div>
        <div class="right">
          {{connection.getState()}},
          TQ {{connection.getMeter().getQuality().toFixed(2)}}
        </div>
      </li>
    </ul>
  </app-collapsible>
</section>
