:host{
  .mesh-visualizer{
    display: flex;

    app-file-import{
      position: absolute;
      top: 20px;
      left: 20px;
    }

    app-d3-directed-graph{
      width: 100vw;
      height: 100vh;
    }
  }
}
