<div class="simulation">
  <div class="graph">
    <app-d3-directed-graph #graph
                           [model]="model"
                           (selectedNodeChange)="selectNode($event)">
    </app-d3-directed-graph>
  </div>
  <div class="sidebar scrollable"
       appFillHeight
       [minHeight]="false">
    <app-sidebar [selectedNode]="selectedNode"
                 [graph]="graph"
                 [simulation]="simulation"
                 (scenarioChange)="updateScenario($event)">
    </app-sidebar>
  </div>
</div>
