@import 'variables';

:host {
  .collapsible-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: color 0.3s ease;

    .title{
      .icon{
        margin-right: 5px;
      }
    }

    .toggler {
      color: white;
      border: none;
      background: none;
      margin-left: auto;

      .text {
        display: inline-block;
        margin-right: 5px;
        font-family: monospace;
        white-space: pre;
      }
    }

    &:hover {
      color: $clickable-color-hover;
    }
  }

  .collapsible-body {
    opacity: 1;

    &.is-collapsed {
      opacity: 0;
      max-height: 0;
    }

    .collapsible-body-content {
      border: 1px solid transparent !important;
    }
  }
}
