@import "variables";

:host {
  app-search-input{
    font-size: 12px;
    margin-top: -20px;
    display: block;
    margin-bottom: 0 !important;
  }

  /deep/ app-collapsible {
    font-size: 12px;
    position: relative;

    &:before {
      position: absolute;
      top: -2px;
    }

    .collapsible {
      padding-left: 20px;
    }

    &.subject-introduction {
      color: $gray-light;
    }

    &.subject-peer-update {
      color: $brand-danger-light;
    }

    &.subject-role-update {
      color: $brand-info-light;
    }

    &.subject-connection-negotiation {
      color: $brand-warning-light;
    }

    &.subject-app-content {
      color: $brand-debug-light;
    }

    &.subject-ping,
    &.subject-pong {
      color: $brand-success-light;
    }

    &.message-receive {
      &:before {
        content: "↘️";
      }
    }

    &.message-send {
      &:before {
        content: "↗️️";
      }
    }

    &.message-forward {
      &:before {
        content: "↔️";
      }
    }
  }
}
