<section class="messages">
  <header>
    <app-selector [options]="options" [required]="true" [(ngModel)]="selectedOption"></app-selector>
    <app-button type="icon" text="fa fa-trash" (click)="purgeMessages()"></app-button>
  </header>

  <app-search-input placeholder="Filter message entries"
                    id="message-filter"
                    (valueChange)="filterMessages($event)">
  </app-search-input>

  <app-collapsible *ngFor="let logEvent of getMessageLog()"
                   [isCollapsed]="true"
                   class="subject-{{logEvent.getEvent().message.getSubject()}} message-{{getDirection(logEvent.getEvent(), selectedNode)}}"
                   title="{{logEvent.getTick()}} {{getTitle(logEvent.getEvent(), selectedNode)}}">
    <span *ngIf="!logEvent.getEvent().inComing">
      to {{logEvent.getEvent().nodeId}}
    </span>

    <span *ngIf="logEvent.getEvent().inComing">
      from {{logEvent.getEvent().nodeId}}
    </span>
    <pre>{{logEvent.getEvent().message}}</pre>
  </app-collapsible>
</section>
